.wrapper {
  position: absolute;
  top: 40vh;
  left: 40vw;
}

/* width = 1576 px */
/* height = 2552px */
/* heightblock =196.3px */
/* widthblock = 394px */
.cat {
  display: block;
  height: 196.3px;
  width: 394px;
}
.cat_walk {
  display: block;
  background: url(/src/images/tuna_sprite.png) 0 0 no-repeat;
  height: 196.3px;
}
.cat_sit {
  display: block;
  background: url(/src/images/tuna_sprite.png) -394px 0 no-repeat;
  height: 196.3px;
}

@keyframes cat_walking {
  from {
    background: url(/src/images/tuna_sprite.png) 0 0 no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) 0 -2159.3px no-repeat;
  }
}
@keyframes cat_sitting {
  from {
    background: url(/src/images/tuna_sprite.png) -394px 0 no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) -394px -981px no-repeat;
  }
}

@keyframes cat_standingup {
  from {
    background: url(/src/images/tuna_sprite.png) -394px -981px no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) -394px 0 no-repeat;
  }
}
@keyframes cat_torun {
  from {
    background: url(/src/images/tuna_sprite.png) -788px 0 no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) -788px -2159.3px no-repeat;
  }
}
@keyframes cat_slowingdown {
  from {
    background: url(/src/images/tuna_sprite.png) -788px -2159.3px no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) -788px 0 no-repeat;
  }
}
@keyframes cat_running {
  from {
    background: url(/src/images/tuna_sprite.png) -1182px 0 no-repeat;
  }
  to {
    background: url(/src/images/tuna_sprite.png) -1182px -2355.3px no-repeat;
  }
}

.playing .cat_walk {
  animation: cat_walking 1s steps(12) 2;
}
.playing .cat_sit {
  animation: cat_sitting 1s steps(5);
  animation-fill-mode: forwards;
}

.playing .scene1 {
  animation: cat_walking 1s steps(11) 2 forwards,
    cat_sitting 1s 2s steps(5) forwards, cat_standingup 1s 4s steps(5),
    cat_walking 1s 5s steps(11) 1 forwards;
}

.playing .scene2 {
  animation: cat_walking 700ms steps(11) 4, cat_torun 1000ms 2800ms steps(11) 1,
    cat_running 700ms 3800ms steps(12) 6 forwards;
  /* cat_torun 1000ms 8000ms steps(11) 1 forwards; */
  /* cat_walking 500ms 6000ms steps(11) 3 forwards; */
}
