.stick {
  position: absolute;
  transform: rotateZ(140deg);
  top: 49px;
  left: 20px;
}
.playing .stick {
  transform: rotateZ(140deg);
  left: 72px;
  transition: left 200ms ease-out;
}

.ball {
  background: #0097c0;
  border-radius: 50%;
  position: absolute;
  top: 190px;
  left: 620px;
  width: 100px;
  height: 100px;

  transition: transform 2s 200ms ease-out;
}
.playing .ball {
  transform: translateX(796px) translateY(-18px);
}
body {
  background: #e3edf2;
}

/* CP_DoFullRefresh */
