body {
  background: #c0c0c0;
  font-family: Crafty Girls, cursive;
  font-size: 14px;
  text-align: center;
}
div {
  font-size: 3em;
}
@keyframes strand-open {
  to {
    width: 600px;
  }
}
@keyframes ballAnimate {
  to {
    transform: rotateZ(360deg);
    left: 900px;
  }
}

.strand {
  background: url("/src/images/strand.svg") no-repeat 0 0;
  height: 30px;
  background-size: cover;
  width: 10px;
  position: absolute;
  top: 100px;
  left: 20%;
  opacity: 0;
  transition: opacity 300ms linear;
  animation: strand-open 2000ms linear;
  animation-play-state: paused;

  animation-fill-mode: both;
}

.ball {
  position: absolute;
  left: 306px;
  width: 50px;
  top: 85px;
  opacity: 0;
  transition: opacity 300ms linear;
  animation: ballAnimate 2000ms linear;
  animation-play-state: paused;

  animation-fill-mode: both;
}

.playing .strand {
  opacity: 1;
  animation-play-state: running;
}

.playing .ball {
  opacity: 1;
  animation-play-state: running;
}

.hidden .strand {
  opacity: 0;
}

.hidden .ball {
  opacity: 0;
}
